.stAppHeader {
    display: none !important;
}
section[data-testid="stSidebar"] {
    display: none !important;
}


header[data-testid="stHeader"] {
    display: none !important;
}

footer {
    visibility: hidden;
}

section[data-testid="stSidebar"] {
    display: none !important;
}

iframe {
    display: none !important;
}

h1 {
    padding-top: 0 !important;
    text-align: center !important;
}

.stMainBlockContainer {
    padding-top: 50px !important;
    padding-bottom: 30px !important;
}

.st-emotion-cache-gsx7k2 {
    width: 400px !important;
    justify-self: center !important;
    border: 1px solid lightgray !important;
    border-radius: 2em !important;
    padding: 20px !important;
}