.st-emotion-cache-1iuhdj4 {
    display: none !important;
}

.st-emotion-cache-8atqhb {
    justify-items: center !important;
}

hr { margin: 0px !important; }

.st-emotion-cache-1h08hrp {
    width: -webkit-fill-available !important;
    height: 30px !important;
    min-height: 30px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.button {
    display: flex !important;
    height: 32px !important;
    min-height: 30px !important;
    min-width: -webkit-fill-available;
}

.st-emotion-cache-1h08hrp > p {
    margin-top: -9px !important;
}

.st-emotion-cache-595tnf  {
    right: 0px!important;
    position: absolute!important;
    z-index: 1;
}
